<div>
    <div>
      <input type="hidden" name="customerId" data-customerId {% if customer %} value="{{- customer.id -}}" {% endif %} />
      <input type="text" name="firstname" data-firstname  placeholder="First Name*" {% if customer %} value="{{- customer.first_name -}}" {% endif %} />      
      <input type="text" name="lastname" data-lastname placeholder="Last Name" {% if customer %} value="{{- customer.last_name -}}" {% endif %}/>
    </div>
    <div>
      <input type="email" name="email" data-email placeholder="Email Address*" {% if customer %} value="{{- customer.email -}}" {% endif %} />
    </div>
    <div>
      <input type="text" name="address" data-address placeholder="Address*" />
    </div>
    <div>
      <input type="text" name="address2" data-address2 placeholder="Address Line 2" />
    </div>
    <div>
      <input type="text" name="city" data-city placeholder="City*" />
      <select data-country name="country" class="countries order-alpha" id="countryId">
    	<option value="">Select Country*</option>
	  </select>
	  <select data-state name="state" class="states order-alpha" id="stateId">
    	  <option value="">Select State*</option>
	  </select>
    </div>
    <div>
      <input type="number" name="postalcode" data-postalcode placeholder="Postal Code*" />
      <input type="text" name="ordernumber" data-ordernumber placeholder="Order Number*" />
    </div>
    <div>
      <input type="button" name="register" data-register value="Register Now" />
    </div>
  </div>
{% capture order %}
{% for order in customer.orders %}
  {{ order.order_number }}
{% endfor %}
{% endcapture %}
<input type="hidden" value="{{-order-}}" order-details />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/countrystate.js"></script>

<script>

  $(function(){
    if(location.search != blank)
      {
        $("[data-ordernumber]").val(location.search.split("="));
      }
    else{
    	console.log("Blank");
    
    }
      
    let arr = [];
    {% for order in customer.orders %}
  	  arr.push("{{ order.order_number }}");
	{% endfor %}
    $("[data-register]").on("click", function(){
      let order = false;
      var postdata =  {
      "id": $("[data-customerId]").val(),
      "first_name": $("[data-firstname]").val(),
      "last_name": $("[data-lastname]").val(),
      "email": $("[data-email]").val(),
      "address": $("[data-address]").val(),
      "address2": $("[data-address2]").val(),
      "city": $("[data-city]").val(),
      "country": $("[data-country]").val(),
      "state": $("[data-state]").val(),
      "postal": $("[data-postalcode]").val(),
      "order_number": $("[data-ordernumber]").val()
    }
      
      
      for(let i=0; i<arr.length;i++)
      {
      	if(postdata.order_number == arr[i])
        {
        	order = true;
        }
      }
   
   if(order == true){
    $.ajax({
      type : "POST",
      url : "/apps/order",
//       dataType: "json",
      data : postdata,
      async:true,
	  crossDomain:true,
      success : function(data){      
     	console.log(data);
      },
      error : function(err)
      {
      console.log(err);
      }
    });
    }
    else{
      console.log("Order id wrong");
    }
  });
  });
  
</script>
